* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
   
}

/* Container2 */
.container2{
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
}
/* nav */
nav {
    background-color: #3161E0 ;
    padding: 10px;
   
}
/* fine nav */

/* stilizo il primo aside*/
nav .container > * {
    background-color: #3161E0 ;
    padding: 10px ;
}
nav .container{
    display: flex;
}
nav .logo {
    width: 150px;
    text-align: start;
   
    
}
/* fine primo aside*

/* main del container*/
nav .nav-link {
    flex-grow: 1;  


}

nav .nav-link ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
   
    gap: 12px;
    color: white;
}

/* fine main del container*/

/* secondo aside */
nav .login {
    width: 150px;
    text-align: right;
    display: flex;
    justify-content: center;


}
nav .login .start-button{
    padding: 10px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
}
/* fine secondo aside*/

/* Header */
#heading {
    width: 100%;
    height: 500px;

    background-image: url('file:///Users/cholo69/Documents/Boolean%23118/Esercizi/htmlcss-discord/htmlcss-struttura-discord/img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;

}
#heading .title-1 {
   text-align: center;
    color: white;
    
    padding-top: 100px;
    padding-bottom: 40px;
}
#heading .title-2{
    text-align: center;
    color: white;

    padding: 40px 0px;
}
#heading .buttons{
    text-align: center;
}
#heading .buttons .button1{
    width: 200px;
    background-color: #FFFFFF;
    color: #23272A;
    border-radius: 45%;
    padding: 10px 0px;
    margin-right: 15px;
}
#heading .buttons .button2{
    width: 200px;
    background-color:#23272A ;
    color: #FFFFFF;
    border-radius: 45%;
    padding: 10px 0px;
    margin-right: 15px;
}


