* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

.container {
    display: flex;
    width: 60%;
    margin: 10px 10px;

    background-color: #DAA520;
}
/* nav */
nav {
    background-color: #ADD8E6 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
/* fine nav */

/* stilizo il primo aside*/
nav .logo {
    border: 1px black dashed;
    width: 100px;
    padding: 8px;

    
    display: flex;
    justify-content: flex-start;
}
/* fine primo aside*

/* main del container*/
nav .link {
    border: 1px black dashed;
    padding: 8px;
    color: black;

    display: flex;
    justify-content: center;
    flex-grow: 1;  

}

a{
    color: black;
    text-decoration: none;
    margin: 0px 8px;
}
/* fine main del container*/

/* secondo aside */
nav .login {
    border: 1px black dashed;
    width: 100px;
    padding: 8px;

    display: flex;
    justify-content: flex-end;


}
/* fine secondo aside*/

/* secondo blocco , header*/ 
header{
    width: 100%;
    height: 200px;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* fine regole header*/
header .box{
    border: 1px black dashed;
    width: 50%;
    height: 80%;
    background-color: #EE82EE;
    
}

/* stilizzazione first-section*/
.first-section{
    width: 100%;
    height: 300px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
.first-section .container2{
    width: 60%;

    display: flex ;
   
    

}
.first-section .container2 .box1{
    border: 1px black dashed;
    width: 600px;
    height: 250px;

    padding: 50px;

    background-color: #1E90FF;

}

.first-section .container2 .box2{
    border: 1px black dashed;
    height: 250px;
    padding: 50px;

    flex-grow: 1;

    background-color: #FFC0CB;

}
/* fine stilizzazione first-section*/

/* stilizzazione second-section*/
.second-section{
    width: 100%;
    height: 300px;
    background-color: #D3D3D3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.second-section .container2{
    width: 60%;

    display: flex ;
    flex-direction: row-reverse;

    

}
.second-section .container2 .box3{
    border: 1px black dashed;
    width: 600px;
    height: 250px;

    padding: 50px;

    background-color: #1E90FF;

}

.second-section .container2 .box4{
    border: 1px black dashed;
    height: 250px;
    padding: 50px;

    flex-grow: 1;

    background-color: #FFC0CB;

}
/* fine second-section*/

/* la third-section è uguale alla prima quindi non c'è bisogno di stilizarla di nuovo*/

/* quarta section*/
.fourth-part{
    width: 100%;
    height: 550px;
    background-color: #D3D3D3;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fourth-part .container3{

    width: 60%;
    height: 80%;
    background-color: #228B22;
    border: 1px black dashed;

}
/* fine quarta*/

/* inizio footer*/
footer{

    width: 100%;
    height: 450px;
    background-color: #23272A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    

}
footer .container4 {

    width: 60%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

footer .container4 .box5{

    width: calc(100% / 3);
    height: 300px;

    background-color: #F08080;
    border: 1px black dashed;

}

footer .container4 .box6{

    
    height: 300px;
    flex-grow: 1;


    background-color: #20B2AA;
    border: 1px white dashed;


}

/* fine footer*/



